{{ define "recipe_form" }}
    <label for="recipe-name-field" class="label">
        <span class="label-text">Recipe Name:</span>
    </label>
    <input id="recipe-name-field"
           type="text"
           class="input input-bordered w-full md:w-2/3"
           placeholder="name"
           name="recipe_name"
           value="{{ .name }}"
    />

    <label for="cookbook-field" class="label">
        <span class="label-text">Cookbook:</span>
    </label>
    <input id="cookbook-field"
           type="text"
           class="input input-bordered w-full md:w-2/3"
           placeholder="cookbook"
           name="cookbook"
           value="{{ .cookbook }}"
    />

    <label for="imageurl-field" class="label">
        <span class="label-text">Image URL:</span>
    </label>
    <input id="imageurl-field"
           type="url"
           class="input input-bordered w-full md:w-2/3"
           placeholder="image URL"
           name="imageurl"
           value="{{ .imageurl }}"
    />

    <label for="notes-field" class="label">
        <span class="label-text">Notes:</span>
    </label>
    <textarea id="notes-field"
              type="url"
              class="textarea textarea-bordered w-full md:w-2/3 leading-tight"
              rows="25"
              cols="60"
              name="notes"
    >{{ .notes }}</textarea>

    <label for="tags-field" class="label">
        <span class="label-text">Tags:</span>
    </label>
    <input id="tags-field"
           type="text"
           class="input input-bordered w-full md:w-2/3"
           placeholder="tags"
           name="tags"
           value="{{ .tags }}"
    />
{{ end }}
