{{define "yield"}}

    {{ template "searchForm" . }}

    <div class="flex flex-col divide-y px-2 md:px-4 mb-2">
        {{ if .foundSome }}
            {{ range .searchResults }}
                <div class="flex flex-row justify-between text-2xl py-2">
                    <a href="/show/{{ .Slug }}" class="text-accent hover:underline">{{ .Name }}</a>

                    <span class="italic text-right">{{ .Cookbook }}</span>
                </div>
            {{ end }}
        {{ else }}
            <p class="text-xl font-bold italic mt-2">Nothing found for that query.</p>
        {{ end }}
    </div>
{{ end }}
