{{define "yield"}}
<h3>Sign in</h3>

<div>
    <form action="/auth/sign-in" method="POST">
        <div>
            <label for="email-input">
                <span>Email address:</span>
            </label>
            <input id="email-input"
                   type="text"
                   placeholder="email"
                   value="{{ .email }}"/>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>

<footer>
    <div class="">
        <span>Content copyright Chris Sterritt, 2022</span>
        <span class="">‐</span>
        <span>V0</span>
        <span class="">‐</span>
        <span>
            <i>Attribution</i>
        </span>
    </div>
</footer>
{{ end }}
