{{define "yield"}}
<h3>Sign in</h3>

<div>
    <form action="/auth/sign-in" method="POST">
        <div>
            <label for="email-input">
                <span>Email address:</span>
            </label>
            <input id="email-input"
                   type="text"
                   placeholder="email"
                   name="auth_info_email"
                   value="{{ .email }}"/>
        </div>

        <div>
            <label for="phone-input">
                <span>Phone number:</span>
            </label>
            <input id="phone-input"
                   type="text"
                   placeholder="phone"
                   name="auth_info_phone"
                   value="{{ .phone }}"/>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>

<footer>
    <div class="">
        <span>Release V0</span>
        <span class="">‐</span>
        <span>
            <i>Attribution</i>
        </span>
    </div>
</footer>
{{ end }}
