{{define "yield"}}
<h3>Waiting for authorization code</h3>

<div>
    <form action="/auth/wait-sign-in" method="POST">
        <div>
            <label for="auth-code-input">
                <span>Authorization code:</span>
            </label>
            <input id="auth-code-input"
                   type="text"
                   placeholder="auth-code"
                   name="auth_code_input"
                   value="{{ .authCode }}"/>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>

<div>
    <form action="/auth/cancel-sign-in" method="POST">
        <button type="submit">Cancel sign in</button>
    </form>
</div>

<footer>
    <div class="">
        <span>Release V0</span>
        <span class="">‐</span>
        <span>
            <i>Attribution</i>
        </span>
    </div>
</footer>
{{ end }}
